
<%= render partial: 'pages/header', locals: { resource: @note, edit: true, delete: true }%>


<div class="note-content">
  <%= @note.body %>
</div>
<div class="note-info">
  Created by: <%= @note.creator.name %>
</div>



<%= render partial: 'layouts/navigation', locals: { current: 'Home' } %>
