/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "active_admin/searchable_select";

@font-face {
    font-family: 'SF Pro Display';
    src: url('SF-Pro-Display-Regular.otf');
    font-weight: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('SF-Pro-Display-Bold.otf');
    font-weight: bold;
}

body {
    margin: 110px 25px 0 25px;
    /*color: #E4E4E4;*/
    /*background: #171717;*/
    color: #111111;
    background: #DFDFDF;

    font-family: "SF Pro Display", sans-serif;
    font-weight: normal;
    letter-spacing: -0.02em;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: unset;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

navbar {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    height: 111px;
    background: rgba(73, 73, 73, 0.168);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);


    border-radius: 46px 46px 0 0;
}

.long {
    width: 100%;
}