.card {
  background: #171717;
  box-shadow: -3px 3px 6px rgba(16, 16, 16, 0.2), 3px -3px 6px rgba(16, 16, 16, 0.2), -3px -3px 6px rgba(30, 30, 30, 0.9), 3px 3px 8px rgba(16, 16, 16, 0.9), inset 1px 1px 2px rgba(30, 30, 30, 0.3), inset -1px -1px 2px rgba(16, 16, 16, 0.5);
  border-radius: 17px;
  padding: 15px 20px;

  &.meeting {

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .left {
      h2 {
        margin: 8px 0 11px 0;

        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 100%;

        letter-spacing: -0.02em;
      }

      span {
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 100%;
        letter-spacing: -0.02em;
      }
    }

    .right {
      font-style: normal;
      font-weight: 600;
      font-size: 45px;
      line-height: 100%;
      display: flex;
      align-items: center;
      text-align: right;
      letter-spacing: -0.02em;

      &.days {
        background: -webkit-linear-gradient(36deg, rgba(52, 69, 225, 1), rgba(64, 186, 255, 1));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  &.team {
    position: relative;
    padding: 15px 10px;
    width: 25vw;
    height: 25vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    color: #E4E4E4;

    .images {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-20%);
      font-weight: lighter;
    }
  }

  &.btn-chevron {
    display: flex;
    width: 25vw;
    height: 25vw;
    align-items: center;
    justify-content: center;

    svg {
      transform: rotate(-90deg);
      transition: transform 0.3s ease;
    }

    &.open {
      svg {
        transform: rotate(0deg);
      }
    }
  }
}

.teams-container {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-gap: 20px 3.8%;
  overflow: hidden;
  margin: 20px -3%;
  padding: 10px 3%;
  height: 80px;
  transition: all .7s;
}

a {
  text-decoration: none;
  color: #E4E4E4;
}