.cards-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}

.card {
  background: #1e1f21;
  //box-shadow: -3px 3px 6px rgba(16, 16, 16, 0.2), 3px -3px 6px rgba(16, 16, 16, 0.2), -3px -3px 6px rgba(30, 30, 30, 0.9), 3px 3px 8px rgba(16, 16, 16, 0.9), inset 1px 1px 2px rgba(30, 30, 30, 0.3), inset -1px -1px 2px rgba(16, 16, 16, 0.5);

  //box-shadow: -3px 3px 6px rgba(192, 192, 192, 0.2), 3px -3px 6px rgba(192, 192, 192, 0.2), -3px -3px 6px rgba(254, 254, 254, 0.9), 3px 3px 8px rgba(192, 192, 192, 0.9), inset 1px 1px 2px rgba(254, 254, 254, 0.3), inset -1px -1px 2px rgba(192, 192, 192, 0.5);
  //box-shadow: -10px 10px 20px rgba(18, 18, 18, 0.2), 10px -10px 20px rgba(18, 18, 18, 0.2), -10px -10px 20px rgba(28, 28, 28, 0.9), 10px 10px 25px rgba(18, 18, 18, 0.9), inset 1px 1px 2px rgba(28, 28, 28, 0.3), inset -1px -1px 2px rgba(18, 18, 18, 0.5);
  border-radius: 17px;
  padding: 15px 20px;

  &.event {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .left {
      h2 {
        margin: 8px 0 11px 0;

        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 100%;

        letter-spacing: -0.02em;
      }

      span {
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 100%;
        letter-spacing: -0.02em;
      }
    }

    .right {
      font-style: normal;
      font-weight: 600;
      font-size: 45px;
      line-height: 100%;
      display: flex;
      align-items: center;
      text-align: right;
      letter-spacing: -0.02em;
      padding-right: 10px;

      &.colour {
        background: -webkit-linear-gradient(36deg, rgba(52, 69, 225, 1), rgba(64, 186, 255, 1));
        -webkit-background-clip: text;
        display: inline;
        -webkit-text-fill-color: rgba(255, 255, 255, 0);
      }
    }
  }

  &.team {
    position: relative;
    padding: 15px 10px;
    width: 25vw;
    height: 25vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;

    .images {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-20%);
      font-weight: lighter;
    }
  }

  &.btn-chevron {
    display: flex;
    width: 25vw;
    height: 25vw;
    align-items: center;
    justify-content: center;

    svg {
      transform: rotate(-90deg);
      transition: transform 0.3s ease;
    }

    &.open {
      svg {
        transform: rotate(0deg);
      }
    }
  }

  &.meeting {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.5s ease;

    .row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        h2 {
          margin: 5px 0;
        }
      }

      .right {
        font-style: normal;
        font-weight: 600;
        font-size: 45px;
        line-height: 100%;
        display: flex;
        align-items: center;
        text-align: right;
        letter-spacing: -0.02em;
        margin-right: 20px;

        &.colour {
          background: -webkit-linear-gradient(36deg, rgba(52, 69, 225, 1), rgba(64, 186, 255, 1));
          -webkit-background-clip: text;
          display: inline;
          -webkit-text-fill-color: rgba(255, 255, 255, 0);
        }
      }
    }

    .attendance-list {
      opacity: 0;
      transition: all .3s ease;
      display: flex;
      flex-direction: row;
      align-items: center;
      overflow: auto;
      white-space: nowrap;
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none;
      margin-top: 10px;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &.new {
    margin-bottom: 13px;
  }

  &.notes {
    display: flex;
    flex-direction: column;
    //gap: 12px;

    h2 {
      margin-bottom: 12px;
    }

    .note-index {

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 8px 0px;
      border-bottom: 1px solid #292b2d;

      .right {
        margin-right: 10px;
      }

      span {
        color: #7c7e8d;
        font-weight: 100;
        letter-spacing: .4px;
      }
    }
  }
}

.teams-container {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-gap: 20px 3.8%;
  overflow: hidden;
  margin: 0px -3%;
  padding: 0 3%;
  transition: all .7s;
}


.special {
  margin-top: 20px;
}
