input, select {
  outline: none;
  border: none;
  color: #E4E4E4;
  background: unset;
  padding: 0;
  margin: 0;
  font-family: "SF Pro Display";
  outline: none;
}



.field {
  display: flex;
  flex-direction: column;
  gap: 4px;

  label {
    margin-top: 20px;
    color: #a8a9af;
    font-size: 1.2em;
  }

  input, select {
    border-radius: 25px;
    background: #1e1f21;
    padding: 10px 20px;
    color: #E4E4E4;
    font-size: 1.2em;
  }

  input[type=datetime-local] {
    width: 100%;
  }
}

.actions {

  display: flex;
  justify-content: center;

  input[type=submit] {
    margin-top: 20px;
    padding: 10px 20px;
    background: #5c5d65;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1.2em;
  }
}