<%= link_to team do %>
  <div class="card team">
    <%= team[:name] %>
    <div class="images">
      img
    </div>
    <%# team.members.each do |member| %>
    <%#= member.name %>
    <%# end %>
  </div>
<% end %>